<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        .active{
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <!-- 宿主文件 -->
    <div id="app">
        <!-- 用户输入 -->
        <p>
            <input type="text" v-model="course" @keydown.enter='addCourse'>
            <!-- 新增课程 -->
            <button @click='addCourse'>添加课程</button>
        </p>
        
        <!-- 插值文本 -->
        <h2 :title='title'>
            {{title}}
            <!-- 列表渲染 -->
            <!-- class绑定 -->
            <!-- <div v-for="item in courses" :key="item" :class="{active: selectCourse === item}"
            @click = "selectCourse = item">
                {{ item }}
            </div> -->
            <!--v-if&v-else¥ -->
            <p v-if="courses.length == 0">没有任何课程信息</p>
            <div class="courseList" v-else>
                <!-- style绑定 -->
                <div v-for="item in courses" :key="item" :style="{backgroundColor: selectCourse === item ? '#ddd' : 'transparent'}"
                @click = "selectCourse = item">
                    {{ item }}
                </div>
            </div>
            
        </h2>
    </div>
    <script>
        // 创建宿主文件
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    title: '购物车!',
                    selectCourse: '',
                    course:'web课程',
                    courses:[]
                }
            },
            methods: {
                addCourse(){
                    this.courses.push(this.course);
                    this.course = '';
                    console.log(this.courses);
                }
            }
        })
    </script>
</body>
</html>