<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        .active{
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <!-- 宿主文件 -->
    <div id="app">
        <!--课程新增组件-->
        <course-add @add-course="addCourse"></course-add>
        <!-- 插值文本 -->
        <h2 :title='title'>
            {{title}}
        </h2>
        <!--课程列表-->
        <course-list :courses = "courses"></course-list>
        <p>
            <!-- 商品总数 -->
            <!-- 表达式 -->
            <!-- 课程总数：{{courses.length + '门数'}} -->
            <!-- 计算属性 -->
            <!-- 课程总数：{{total}} -->
            <!--监听器 -->
            课程总数：{{totalCount}}
        </p>
        
    </div>
    <script>
        //课程新增组件
        Vue.component('course-add',{
            data(){
                return{
                    course:''
                }
            },
            template:`
                <div>
                    <!-- 用户输入 -->
                    <p>
                        <input type="text" v-model="course" @keydown.enter='addCourse'>
                        <!-- 新增课程 -->
                        <button @click='addCourse'>添加课程</button>
                    </p>
                </div>
            `,
            methods: {
                addCourse() {
                    this.$emit('add-course',this.course);
                    this.course = '';
                }
            },
        }) 
        // 列表组件
        Vue.component('course-list',{
            data(){
                return {
                    selectCourse: '',
                }
            },
            props:{
                courses:{
                    type: Array,
                    default: []
                }
            },
            template:`
            <!-- 列表渲染 -->
            <!-- class绑定 -->
            <!-- <div v-for="item in courses" :key="item" :class="{active: selectCourse === item}"
            @click = "selectCourse = item">
                {{ item }}
            </div> -->
            <!--v-if&v-else¥ -->
            <div>
            <p v-if="courses.length == 0">没有任何课程信息</p>
            <div class="courseList" v-else>
                <!-- style绑定 -->
                <div v-for="item in courses" :key="item" :style="{backgroundColor: selectCourse === item ? '#ddd' : 'transparent'}"
                @click = "selectCourse = item">
                    {{ item }}
                </div>
            </div>
            </div>
            
            `
        })
        function getCourses(){
            return new Promise(resolve=>{
                setTimeout(() => {
                    resolve(['web全栈','web高级'])
                }, 2000);
            })
        }

        // 创建宿主文件
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    title: '购物车!',
                    courses:[],
                    totalCount: 0
                }
            },
            // vue实例以创建
            async created () {
                //异步获取课程
                const courses = await getCourses();
                this.courses = courses;
            },
            mounted () {
                
            },
            methods: {
                addCourse(course){
                    this.courses.push(course);
                    console.log(this.courses);
                }
            },
            // 计算属性和监听器处理场景不同
            // 计算属性：适合一个数据受多个数据影响；监听器：适合一个数据影响多个数据
            // 计算属性具有缓存属性，没有变化变化不会重复执行
            // 监听器选项提供了更通用的方法，适合执行异步操作或较大开销操作的情况
            computed: {
                // 计算属性具有缓存性，如果值没有变化，页面不会重新渲染
                total() {
                    return this.courses.length + '门'; 
                }
            },
            // 默认情况下watcher初始化时不执行
            // watch: {
            //     courses(newValue, oldValue) {
            //         this.totalCount = newValue.length +'门';
            //     }
            // },
            watch: {
                courses: {
                    immediate: true,
                    // deep: true,
                    handler(newValue, oldValue) {
                        this.totalCount = newValue.length +'门';
                    }
                }
            },
        })
    </script>
</body>
</html>